
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
  top: 20%;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.form__field__error {
  color: #ff4d4d;
  margin: .25rem 0;
  font-size: 12px;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  max-height: 30%;
  opacity: 0;
}
.form-control {
  position: relative;
  z-index: 1;
}
.form-control:invalid ~ .form__field__error {
  max-height: 40px;
  opacity: 1;
}
 .form-control:placeholder-shown ~ .form__field__error {
  max-height: 0;
  opacity: 0;
} 

.form-control:-ms-input-placeholder ~ .form__field__error {
  max-height: 0;
  opacity: 0;
}
