<body>
  <div class="container">

    <mat-horizontal-stepper>
      <mat-step label="Step 1" state="phone">
        <!-- STEP 1 -->
        <h1>Welcome to Family Tree Creator!</h1>
        <img [src]=myimage>
        <h2>Name your tree and press next to start.</h2>
        <input type="text" class="form-control" required [(ngModel)]="title">
        <!-- <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Name your tree.</mat-label>
            <textarea [(ngModel)]="title" matInput placeholder="Title" required ></textarea>
          </mat-form-field>
        </form> -->
        <div>
          <button mat-button matStepperNext (click)="saveTitle()">Next</button>
        </div>
      </mat-step>

      <mat-step label="Step 2" state="chat">
        <!-- STEP 2 -->
        <div>

          <div [hidden]="submitted">
            <h1>Add New Family Member</h1>
            <form #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name">
              </div>


              <button type="button" class="btn btn-default" (click)="newFamilyMember(); form.reset()">+Add New</button>
              <button mat-button matStepperNext type="submit" class="btn btn-success" [disabled]="!form.form.valid"
                (click)="newFamilyMember();">Done!</button>

            </form>
          </div>
        </div>
        <button mat-button matStepperPrevious>Back</button>


      </mat-step>
      <mat-step label="Step 3">
        <!-- STEP 3 -->
        <h1>You submitted the following:</h1>

        <div class="form-group">
          <label for="member">Source Member</label>
          <select class="form-control" id="member" required [(ngModel)]="model.name" name="name">
            <option *ngFor="let mem of FamilyList" [value]="mem">{{mem.name}}</option>
          </select>

          <label for="member">Target Member</label>
          <select class="form-control" id="member" required [(ngModel)]="model.name" name="name">
            <option *ngFor="let mem of FamilyList" [value]="mem">{{mem.name}}</option>
          </select>

          <label for="relation">Relation</label>
          <select class="form-control" id="relation" required [(ngModel)]="relationType" name="relationType">
            <option *ngFor="let rel of relationType" [value]="rel">{{rel}}</option>
          </select>

          <button class="btn btn-primary" (click)="newSourceMember(); newTargetMember(); form.reset()">Add New Relation</button>
        </div>

        <div *ngFor="let i of FamilyList">
          <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ i.name }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Relation</div>
            <div class="col-xs-9">{{ i.relation }}</div>
          </div>
          <br>
          <!-- <button class="btn btn-primary" (click)="submitted=false">Edit</button> -->
        </div>

        <button class="btn btn-primary">Create Family Tree!</button>
        <button mat-button matStepperPrevious (click)="submitted=false">Back</button>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="phone">

      </ng-template>
    </mat-horizontal-stepper>

  </div>
</body>