<body>
  <div class="container">

    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Step 1</ng-template>
        <form [formGroup]="firstFormGroup">
          <h1>Welcome to Family Tree Creator!</h1>
          <img [src]=myimage>
          <h2>Name your tree and press next to start.</h2>
          <mat-label> Name</mat-label>
          <input class="form-control" matInput placeholder="Tree Name" formControlName="firstCtrl" required
            [(ngModel)]="title"
            pattern="^[A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15}$">
          <p class="form__field__error">The title is invalid. Please enter it again. You can use 1-5 words (2-15
            characters each, only letters).</p>

          <div>
            <button mat-button matStepperNext (click)="saveTitle(); form.reset()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
        <ng-template matStepLabel>Step 2</ng-template>
        <form [formGroup]="secondFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">
          <h1>Add New Family Member</h1>
          <mat-label>Name</mat-label>
          <input class="form-control" matInput formControlName="secondCtrl" [(ngModel)]="model.name" placeholder="Name"
            pattern="^[A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15}-[A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15}( |-)[A-Za-z]{2,15}$|^[A-Za-z]{2,15} [A-Za-z]{2,15} [A-Za-z]{2,15}$ ">
          <p class="form__field__error">The name is invalid. Please enter it again.</p>
          <p class="form__field__error">You can use 1-4 words (2-15 characters each, only letters and "-" if you want to
            use double-barrelled surname).</p>
          <br>
          <button type="button" class="btn btn-default" [disabled]="!form.form.valid"
            (click)="newFamilyMember(); form.reset()">+ Add this member</button>
          <button mat-button matStepperNext type="submit" class="btn btn-success toright70"
            [disabled]="!form.form.valid">Done!</button>
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <br>

          <h2>{{title}} </h2>
          <ul class="family_list">
            <li *ngFor="let model of FamilyList">
              {{model.name}}
            </li>
          </ul>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <h1>Add a new relation:</h1>
        <div>
          <br>
          <div class="form-group">
            <label for="member">Source Member</label>
            <select class="form-control" id="member" required [(ngModel)]="relation.sourceMemberId" name="name">
              <option *ngFor="let mem of FamilyList" [value]="mem.id">{{mem.name}}</option>
            </select>

            <label for="member">Target Member</label>
            <select class="form-control" id="member" required [(ngModel)]="relation.targetMemberId" name="name">
              <option *ngFor="let mem of FamilyList" [value]="mem.id">{{mem.name}}</option>
            </select>

            <label for="relation">Relation</label>
            <select class="form-control" id="relation" required [(ngModel)]="relation.relation" name="relationType">
              <option *ngFor="let rel of relationType" [value]="relationType.indexOf(rel)">{{rel}}</option>
            </select>


            <button class="btn btn-default" (click)="newRelation(); form.reset()">Add this relation</button>
            <br>
            <br>
            <h4 style="margin-bottom: 0px; font-weight:bold;">Example:</h4>
            <div>
              Source Member: Will Smith <br>Target Member: Jaden Smith <br>Relation: father<br>
              Created Relation: Will Smith is Jaden Smith's father
            </div>

          </div>

          <button class="btn btn-success toright60" (click)="newRelation(); submitFamily()">Create Family Tree!</button>
          <br>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>

        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</body>